:root{
    --border-color:rgb(225, 225, 225);
    --cell-background:rgb(240, 240, 240);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Robot", sans-serif;
    font-size: 0.85rem;
}

.menu-option{
    /* border-bottom: 0.5px solid var(--border-color); */
    height: 40px;
    /* background-color: var(--cell-background); */
    background-color: #1D6F42;
}

.address-content{
    /* border-bottom: 0.1px solid; */
    height: 20px;
    display: flex;
}

.cells-content{
    height: 85.35vh;
    background-color: white;
    position: relative;
    overflow: auto;
    /* border-bottom: 0.1px solid lightgray; */
}

.sheets{
    /* border-top: 0.5px solid; */
    /* border-bottom: 0.1px solid black; */
    height: 30px;    
    background-color: var(--cell-background);
    display: flex;
}

.row{
    display: flex;
}

.cell{
    border-bottom: 0.1px solid var(--border-color);
    border-left: 0.1px solid var(--border-color);
    min-height: 20px;
    width: 90px;
    outline: none;
    padding: 2px;
}

.top-left-cell{
    /* border-right: 0.1px solid var(--border-color); */
    /* border-top: 0.1px solid; */
    border-bottom: 0.1px solid var(--border-color);

    height: 20px;
    width: 40px;
    background-color: var(--cell-background);
    position: absolute;
    z-index: 2;

}


.top-row{
    display: flex;
    position: absolute;
    background-color: var(--cell-background);
    left: 40px;
    z-index: 1;
    /* border-top: 0.1px solid; */
}

.top-row-cell{
    height: 20px;
    width: 90px;
    border-bottom: 0.1px solid var(--border-color);
    border-left: 0.1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col{
    background-color: var(--cell-background);
    position: absolute;
    left: 0px;
    top:20px;
    z-index: 1;
}

.left-col-cell{
    height: 20px;
    width: 40px;
    border-bottom: 0.1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top:20px;
    left:40px;
}

#address{
    text-align: center;
    width: 50px;
    border-bottom: 0.1px solid var(--border-color);
    border-top: 0.1px solid var(--border-color);
    border-right: none;
    border-left: none;
    background-color: var(--cell-background);
    
}

#formula{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    border-left:0.1px solid var(--border-color) ;
}

.sheet-List{
    display: flex;
}

.add-sheets{
    background-color: #1D6F42;
    color : white;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1px solid lightgray;
    border-top: 0.1px solid lightgray;
    font-size: 14px;
}

.sheet{
    width: 90px;
    height: 100%;
    border-right: 0.1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 0.1px solid lightgray;
}

.active-sheet{
    background-color: white;
    font-weight: bold;
    color:#1D6F42;
    border-top: none;
    font-weight: 5000;
} 

.font-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 40px;
    border-right: 1px solid lightgray;
}

.font-style div{
    cursor: pointer;
    width : 25px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.font-style div:hover{
    background-color: var(--cell-background);
    border-radius: 5px;
}

.active-font-style{
    background-color: var(--cell-background);
    border-radius: 5px;
}

.active-cell{
    border: 1.5px solid #1D6F42;
}

.active-row-col{
    background-color: lightgray;
}

.font-align{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 160px;
    top: 0px;
    height: 40px;
    width: 160px;
    border-right: 1px solid lightgray;
    font-size: 15px;
}

.font-align div{
    cursor: pointer;
    width: 25px;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-align div:hover{
    background-color: var(--cell-background);
    border-radius: 5px;
}

.font-set{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 320px;
    top: 0px;
    height: 40px;
    width: 160px;
    border-right: 1px solid lightgray;
    font-size: 15px;
    /* background-color: aliceblue; */
}

.font-set div{
    cursor: pointer;
    width: 25px;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-set div:hover{
    background-color: var(--cell-background);
    border-radius: 5px;
}